.chart-text {
    font: 4px/1.4em "",  sans-serif;
    fill: #fff;
    -moz-transform: translateY(0.25em);
    -ms-transform: translateY(0.25em);
    -webkit-transform: translateY(0.25em);
    transform: translateY(0.25em);
    position: 200px;
  }
  .chart-label {
    font-size: 0.7em;
    padding: 10px;
    text-transform: uppercase;
    text-anchor: middle;
    -moz-transform: translateY(0.7em);
    -ms-transform: translateY(0.7em);
    -webkit-transform: translateY(0.7em);
    transform: translateY(0.1em);
  }